<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>Index - {{ title }}</title>
        {% else %}
        <title>Index - 首页</title>
        {% endif %}
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}" type="text/css">
        <!-- <style type="text/css">
            body {
                font-family: Georgia, 'Times New Roman', Times, serif;
                line-height: 1.375;
                margin: 0;
            }

            .masthead {
                color: #7e7e7e;
                background-color: brown;
            }
        </style> -->
    </head>
    <body>
        <header class="masthead"><h1>Index Library</h1></header>
        <nav role="navigation" class="navbar">
            <div class="wrapper">
                <ul>
                    <li><a href='/'>Home</a></li>
                    <li><a href='/upload'>Upload File</a></li>
                    <li><a href='/login'>Login</a></li>
                    <li><a href='/private'>Your Files</a></li>
                    <li><a href='/manage'>Manage</a></li>
                    <li><a href='/logout'>Logout</a></li>
                </ul>
            </div>
        </nav>
        <div>{% block content %}{% endblock %}</div>
    </body>
</html>